# fly.toml app configuration file generated for flow-guard on 2025-11-21T00:17:34Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'flow-guard'
primary_region = 'jnb'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
